@charset "utf-8";
html{
	box-sizing: border-box;
}
*,*:before, *:after {
	box-sizing: inherit;
}

html body{
	margin: 0;
	padding:0;
	background: linear-gradient(to bottom, burlywood 0%, black 150%);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover;
	
	
}
/*Tablet*/
@media(max-width:768px){
	body{
		font-size:16px;
	}
}

/*Mobile phones*/
@media(max-width:480px){
	body{
		font-size:14px;
	}
}



#header{
	 background-color: burlywood;
    text-align: center;
    margin: auto;
    float: middle;
	width:100%;
	
}
/*<nav>
 <div class="dropdown">
            <button class="active">MENU</button>
            <div class="dropdown-content">
             <a href="html/aboutus.html"> About Us</a></l><br>
             <a href="html/Exhibits.html"> Exhibits</a></l><br>
             <a href="html/FAQ.html"> FAQ</a>
            </div>
 </div>
 </nav>
		  */
		  

.dropdown {
	
position:absolute;
  top: 140px;
  left: 1200px;
	
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: burlywood;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.02);
	z-index: 1;
}
.dropdown-content a {
	float: none;
	color: #000000;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none;
	text-align: left;
	display: block;
}
.dropdown-content a:hover {
	background-color: #DDDDDD;	
}
	.dropdown:hover .dropdown-content{
		display: block;
	}	


h1 {
	font-family: Courier New;
	color: ivory;
}

h2 {
	color:color:#222222;
}

#aboutus {
  position: relative;
  top: 200px;
  left: 0px;
  height:250px;
  width: 500px;
	background: #DDDDDD;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
	 color:#222222;
	 text-align:center;
	}

	
#contact{
 position: relative;
  top: 470px;
  left: 650px;
  
	width: 500px;
	background: #DDDDDD;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
	
}

#schedule{
	position: relative;
  top: 200px;
  left: 650px;
  height:250px;
	width: 500px;
	background: #ed8d10;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
}

#schedule h2 {
	text-align:center;
}


table {
width : 100%;
}
th{
	width: 100px;
border: 2px solid;
border-color : #31144a;
padding: 15px;
}
td{
	text-align:center;
}

#speech{
	position: relative;
  top: 470px;
  left: 0px;
  height:275px;
	width: 500px;
	background: #DDDDDD;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px
	
		
}
#speech h2 {
	text-align:center;	
}

#speech img {
	position: relative;
	left: 180px;
}



#footer{
	 font-family: 'Default';font-size: 22px;
    background-color: black;
    text-align: center;
    position: relative;
	top:750px;
    width: 100%;
	
}
	#footer p {
	color:white;
}



