.Top {
    background-color: burlywood;
    text-align: center;
    margin: auto;
    float: middle;
}

.Links {
    font-family: 'Default';font-size: 22px;
    background-color: black;
    text-align: center;
    float: left;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

html {
    font-family: 'Courier New';font-size: 22px;
    height: 100%;
    background: linear-gradient(0deg, black, burlywood 50%) no-repeat;
}

body {
    font-family: 'Courier New';font-size: 22px;
    color: ivory;
}

li {
    display:inline;
    color: ivory;
}

#aboutus {
  position: absolute;
  top: 100px;
  left: 0px;
  
  width: 500px;
	background: #87adde;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
}

#contact {
 position: absolute;
  top: 100px;
  left: 650px;
  
	width: 500px;
	background:  #87adde;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
	
}

#schedule{
	position: absolute;
  top: 500px;
  left: 650px;
  
	width: 500px;
	background:  #87adde;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
}

#wrapper {

}