.Top {
    background-color: burlywood;
    text-align: center;
    margin: auto;
    float: middle;
}

html body{
	margin: 0;
	padding:0;
	background: linear-gradient(to bottom, burlywood 0%, black 150%);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size: cover;
}

.Links {
    font-family: 'Default';font-size: 22px;
    background-color: black;
    text-align: center;
    float: left;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

html {
    font-family: 'Courier New';font-size: 22px;
    height: 100%;
    background: linear-gradient(0deg, black, burlywood 50%) no-repeat;
}

body {
    font-family: 'Courier New';font-size: 22px;
    color: ivory;
}

li {
    display:inline;
    color: ivory;
}