.Top {
    background-color: burlywood;
    text-align: center;
    margin: auto;
    float: middle;
}

.Listen {
    background-color: black;
    border: 10px dashed ivory;
    float: left;
}

.Explore {
    background-color: black;
    border: 10px dashed ivory;
    float: right;
}

.Learn {
    background-color: black;
    border: 10px dashed ivory;
    width: 625px;
    float: right;
}

.Links {
    font-family: 'Default';font-size: 22px;
    background-color: black;
    text-align: center;
    float: left;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

h1 {
    color: ivory;
}

html {
    font-family: 'Courier New';font-size: 22px;
    height: 100%;
    background: linear-gradient(0deg, black, burlywood 50%) no-repeat;
}

body {
    font-family: 'Courier New';font-size: 22px;
    color: ivory;
}

li {
    display:inline;
    color: ivory;
}

.dropdown {
	
position:absolute;
  top: 140px;
  left: 1200px;
	
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: burlywood;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.02);
	z-index: 1;
}
.dropdown-content a {
	float: none;
	color: #000000;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none;
	text-align: left;
	display: block;
}
.dropdown-content a:hover {
	background-color: #DDDDDD;	
}
.dropdown:hover .dropdown-content{
	display: block;
}