@ -11,6 +11,19 @@
    float: left;
}

.Explore {
    background-color: black;
    border: 10px dashed ivory;
    float: right;
}

.Learn {
    background-color: black;
    border: 10px dashed ivory;
    width: 625px;
    float: right;
}

.Links {
    font-family: 'Default';font-size: 22px;
    background-color: black;
@ -40,48 +53,4 @@ body {
li {
    display:inline;
    color: ivory;
}

.aboutus {
  position: absolute;
  top: 100px;
  left: 0px;
  
  width: 500px;
	background: #87adde;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
}
	
.contact {
 position: absolute;
  top: 100px;
  left: 650px;
  
	width: 500px;
	background:  #87adde;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
	
}

.schedule{
	position: absolute;
  top: 500px;
  left: 650px;
  
	width: 500px;
	background:  #87adde;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
}

.wrapper {

}
