.Top {
    background-color: burlywood;
    text-align: center;
    margin: auto;
    float: left;
}

.Links {
    background-color: burlywood;
    text-align: left;
    float: left;
}

h1 {
    color: beige;
}

body {
    background-color: ivory;
}

li {
    color: beige;
}