body {
	margin: 0;
	height: 120vh;
	background: linear-gradient(to bottom, burlywood 0%, black 150%);
	background-size: 100%;
	
}

#header{
	 background-color: burlywood;
    text-align: center;
    margin: auto;
    float: middle;
	
}
<!-- <div class="dropdown">
            <a href="drop-down.html" class="active">Menu</a>
            <div class="dropdown-content">
             <a href="html/About_Us.html"> About Us</a></l><br>
             <a href="html/Exhibits.html"> Exhibits</a></l><br>
             <a href="html/FAQ.html"> FAQ</a>
              </div>
          </div>
		  -->

.dropdown {
	
position: absolute;
  top: 140px;
  left: 1200px;
	
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: burlywood;
	min-width: 100px;
	-webkit-box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.02);
	box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.02);
	z-index: 1;
}
.dropdown-content a {
	float: none;
	color: #000000;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-decoration: none;
	text-align: left;
	display: block;
}
.dropdown-content a:hover {
	background-color: #DDDDDD;	
}
	.dropdown:hover .dropdown-content{
		display: block;
	}	


h1 {
	font-family: Courier New;
	color: ivory;
}

#wrapper {
	
}

#aboutus {
  position: absolute;
  top: 200px;
  left: 0px;
  height:250px;
  width: 500px;
	background: white;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
	}
	
#contact{
 position: absolute;
  top: 470px;
  left: 650px;
  
	width: 500px;
	background: white;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
	
}

#schedule{
	position: absolute;
  top: 200px;
  left: 650px;
  height:250px;
	width: 500px;
	background: white;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
}

#speech{
	position: absolute;
  top: 470px;
  left: 0px;
  height:275px;
	width: 500px;
	background: white;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px
	
	
	
}

#footer{
	 font-family: 'Default';font-size: 22px;
    background-color: black;
    text-align: center;
    position: absolute;
	top:750px;
    width: 100%;
	
}



 h2 {
	
	
}
	

