body {
	margin: 0;
	height: 120vh;
	background: linear-gradient(to bottom, burlywood 0%, black 150%);
	background-size: 100%;
	
}

#header{
	
}
h1 {
	font-family: Courier New;
	color: ivory;
}

#wrapper {
	
}

#aboutus {
  position: absolute;
  top: 100px;
  left: 0px;
  
  width: 500px;
	background: white;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
	}
	
#contact{
 position: absolute;
  top: 100px;
  left: 650px;
  
	width: 500px;
	background: white;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
	
}

#schedule{
	position: absolute;
  top: 400px;
  left: 0px;
  
	width: 500px;
	background: white;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 25px;
	padding-right: 25px;
}

 h2 {
	
	
}
	

